*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background-color: #d2dbdd;
}

.Heading{
  padding: 15px;
  font-size: 23px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 letter-spacing: 2px;
  background-color: rgb(241, 240, 237);
  color: rgba(0, 0, 0, 0.288);
height: 8vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.cards{

  height: auto;
    width: 100%;

  }
.card{
  
  margin: 6%;
  transition: all 0.4 cubic-bezier(0.175 , 0.885 , 0 ,1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05 ,1.05);
}

.card_img{
  
  height: 245px;
    width: 100%;
   border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card_category{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color : #868686;
  background-color: #fff;
}
.card_info{
  background-color: #fff;
  border-bottom-left-radius:12px ;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px ;
  
}
.card_links{
text-decoration: none;

background-color: #fff ;
border: 1.5px rgb(0, 0, 0);
}
.card_links button{
  text-decoration: none;
  background-color: #fff;
}
.card_links button:hover{
  cursor: pointer;
  box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.card_title{
  text-decoration: none;
    
    background-color: #fff;
}
@media only screen and (max-width: 900px) {
  .cards {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 1%;
    float: left;
  }

  .card {

    width: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .cards {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 3%;
    float: left;
  }
  .card{

    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .cards {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 3%;
    float: left;
  }

  .card {

    width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    /* display: flex;
    flex-wrap: wrap;
    float: none; */
    width: 80%;
  }
}
@media only screen and (max-width: 200px) {
  .card {
    /* display: flex;
    flex-wrap: wrap;
    float: none; */
    width: 90%;
  }
}